<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All notes
    </h1>

    <a href="/notes/new" class="btn btn-block btn-outline-secondary">
      Add a new note
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Notes
        </th>

        <th>
          Inputs
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @notes.each do |note| %>
      <tr>
        <!-- Display note.id start -->
        <td>
          <%= note.id %>
        </td>
        <!-- Display note.id end -->

        <!-- Display note.notes start -->
        <td>
          <%= note.notes %>
        </td>
        <!-- Display note.notes end -->

        <!-- Display note.inputs_id start -->
        <td>
          <% if note.inputs.present? %>
            <a href="/inputs/<%= note.inputs.id %>">
              <%= note.inputs.operating_income %>
            </a>
          <% end %>
        </td>
        <!-- Display note.inputs_id end -->

        <!-- Display note.created_at start -->
        <td>
          <%= time_ago_in_words(note.created_at) %> ago
        </td>
        <!-- Display note.created_at end -->

        <!-- Display note.updated_at start -->
        <td>
          <%= time_ago_in_words(note.updated_at) %> ago
        </td>
        <!-- Display note.updated_at end -->

        <td>
          <a href="/notes/<%= note.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @notes, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
