<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All notes
    </h1>

    <a href="/notes/new" class="btn btn-block btn-outline-secondary">
      Add a new note
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "note_templates/notes_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Notes
        </th>

        <th>
          Inputs
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @notes.each do |note| %>
      <tr>
        <td>
          <%= note.id %>
        </td>

        <td>
          <%= note.notes %>
        </td>

        <td>
          <% if note.inputs.present? %>
            <a href="/inputs/<%= note.inputs.id %>">
              <%= note.inputs.operating_income %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(note.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(note.updated_at) %> ago
        </td>

        <td>
          <a href="/notes/<%= note.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @notes, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
