<h1>
  Edit status #<%= @status.id %>
</h1>

<hr>

<form action="/update_status/<%= @status.id %>" method="post">

  <div class="form-group">
    <label for="area_of_interest">
      Area of interest
    </label>

    <input type="text" id="area_of_interest" name="area_of_interest" class="form-control" value="<%= @status.area_of_interest %>">
  </div>

  <div class="form-group">
    <label for="status">
      Status
    </label>

    <textarea id="status" name="status" class="form-control" rows="3"><%= @status.status %></textarea>
  </div>

  <div class="form-group">
    <label for="action_plan">
      Action plan
    </label>

    <textarea id="action_plan" name="action_plan" class="form-control" rows="3"><%= @status.action_plan %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update status
  </button>
</form>

<hr>

<a href="/statuses">
  Go back
</a>
